extends layout-default

block header
  script(type='text/javascript', src='/components/jquery/jquery.min.js')
  script(type='text/javascript', src='/js/index.js')

block content
  div.section.group
    div.col.span_1_of_3
      h3= title
      p Welcome to #{title}
    div.col.span_2_of_3
      div.rounded
        h3 log yourself in bitch - or register
        label(for='email') name:
        input(type='email')#email
        label(for='password') password:
        input(type='password')#password
        input(type='submit')#login

block footer
  div.section.group
    div.col.span_1_of_3
      h3= title
      p Welcome to #{title}
    div.col.span_2_of_3
      div(style='background-color: #123; padding: 15px')
        h3 test
        p this is a test